# DATABASE
POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow

# SPRING DATASOURCE
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/taskflow
SPRING_DATASOURCE_USERNAME=taskflow
SPRING_DATASOURCE_PASSWORD=taskflow

# JWT
JWT_SECRET=oXFXAy9JJWRt7Zpbt54F96VAaUhu0tjevLHkjgFmWSn

# SERVER
SERVER_PORT=8080